@import "../contact/contact.component.scss";

@include form-style;

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
input {
  width: 100%;
  padding: 25px;
  margin-bottom: 30px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}
input:focus {
  border-bottom: 2px solid #78788c;
}
p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #0f1984;
}
button {
  padding-top: 100px;
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  background: #78788c;
  color: #fff;
}
.button-logout {
  align-items: center;
}
